@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,900&display=swap');
*{
	box-sizing: border-box;
}
body{
	margin:0;
	padding: 0;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	color: #263238;
}

#loading {
    background-color: black;
    width:100%;
    height:100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;

    animation-name: size;
    animation-duration: 1s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.13, 0.54, 0.39, 1.24);
}
@keyframes size {
    0% {left: 0%}
    100% {left: 100%}
}

#dot {
height: 20px;
width: 20px;
background-color: rgb(147, 219, 248);
border-radius: 50%;
display: inline-block;
justify-content: center;
display: flex;
align-content: center;
margin: 10px;
transform: translate(0px, 340px);
}

.dot1 {
opacity: 0;
animation: fade 1s linear;
animation-name: loadingscreen;
animation-iteration-count: 3;
}
.dot2{
opacity: 0;
animation: fade 1s linear;
animation-delay: 0.2s;
animation-name: loadingscreen;
animation-iteration-count: 3;
}
.dot3{
opacity: 0;
animation: fade 1s linear;
animation-delay: 0.4s;
animation-name: loadingscreen; 
animation-iteration-count: 3;
}

@keyframes loadingscreen {
50% { opacity: 1 }
0%, 100% { opacity: 0 }
}




/*section/container*/

.page{
	position: relative;
	width: 100%;
}


section,
.section{
	position: relative;
	width: 100%;
}
.section--padding{
	padding: 60px 0;
}
.section--border{
	border-bottom: 1px solid #ECEFF1;
}
.section--dark{
	color: rgba(255,255,255,0.8);
	background: #263238;
}


.container{
	max-width: 1440px;
	width: 100%;
	position: relative;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
}
.container--w1600{
	max-width: 1600px;
}
.container--w1200{
	max-width: 1200px;
}
.container--w1024{
	max-width: 1024px;
}
.container--w700{
	max-width: 768px;
}
.row{
	display: flex;
	flex-wrap: wrap;
}



.display--flex{
	display: flex;
}
.margin-left--auto{
	margin-left: auto;
}
.margin--auto{
	margin:auto;
}
.flex--center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.padding--top{
	padding-top: 60px;
}
.padding--bottom{
	padding-bottom: 60px;
}


img{
	max-width: 100%;
}


/*typography*/
h1, h2, h3, h4, h5{
	font-family: 'Montserrat', sans-serif;
	margin:0;
}

h2{
	font-weight: 500;
	font-size: 38px;
}

h2.title{
	text-align: center;
	font-size: 42px;
	padding: 40px 0;
	font-weight: 400;
}

h3{
	font-weight: 500;
	font-size: 28px;
}


p{
	opacity: 0.7;
}

.text-align--center{
	text-align: center;
}

/*columns*/

.row{
	display: flex;
	flex-wrap: wrap;
}


.col{
	position: relative;
	padding: 20px;
}
.col .card:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: 0.5s;
}
.col--20{
	width: 20%;
}
.col--25{
	width: 25%;
}
.col--33{
	width: 33.33%;
}
.col--40{
	width: 40%;
}
.col--50{
	width: 50%;
}
.col--60{
	width: 60%;
}
.col--70{
	width: 70%;
}
.col--80{
	width: 80%;
}
.col--90{
	width: 90%;
}
.col--100{
	width: 100%;
}


/*header*/

header{
	position: relative;
	width: 100%;
	padding: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	animation-name: fadeIn;
	animation-duration: 2s;
	animation-delay: 3.5s;
}
@keyframes fadeIn{
	0% {opacity: 0;}
	100%{opacity: 1;}
}

nav{
	position: relative;
	display: flex;
}
.nav__item_container{
	color: white;
    justify-content: center;
    display: grid;
    font-size: 25p;
    padding: 10px;
}
.nav_item{
	position: relative;
    padding: 10px 30px;
	text-transform: uppercase;
	cursor: pointer;
	font-size: 20px;
    font-weight: 500;
    font-family: "Montserrat";
}
.nav_item:hover{
	background: rgba(255,255,255,0.1);
}

/*Profile*/
#profile {
	z-index: 1;
	position: absolute;
    z-index: 1;
    height: 100%;
	left: 70%;
	display:none;
	

}


 /* #trigger:not(:checked) + .profile{
	animation-name: menuu;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes menuu {
	0% {clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%)}
	100% {clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)}
} */

/* checkbox */
#trigger:checked {
	width: 60%;
	animation-name: checked;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes checked{
	0% {width: 0%}
	100% {width: 60%}
}

#trigger:not(:checked) {
	width: 10%;
	animation-name: notchecked;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes notchecked{
	0% {width: 60%}
	100% {width: 10%}
}
/* checkbox */

#trigger:checked + #profile{
	display: block;
}
.profile{
	position: fixed;
	width: 30%;
	height: 100%;
	background-color: #000;;
	display: block;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	animation-name: menu;
	animation-duration: 1s;
	animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
@keyframes menu {
	0% {clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
	}
	100% {clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)};
	}
	
.nav__item{
    position: relative;
    padding: 10px 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    font-family: "Montserrat";
    border-radius: 10%;
}
.nav_item input {
	background-color: #03A9F4;
}
.nav__item:hover{
	background: #90A4AE;
}
  
.profile_img{
	position: relative;
    display: flex;
    justify-content: center;
    padding: 50px;
    color: white;
}


.logo{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	height: 100%;
	font-size: 36px;
	font-weight: 400;
	letter-spacing: 8px;
	font-family: "Montserrat";
}


/*main*/

main{
	position: relative;
	width: 100%;
	padding-left: 300px;
}



/*banner*/

.banner{
	display: flex;
	height: 600px;
	width: calc(100% - 120px);
	margin: auto;
	min-height: 400px;
	background: #CFD8DC;
	animation-name: clip;
	animation-delay: 3.6s;
	animation-fill-mode: forwards;
	animation-duration: 1s;
	clip-path: polygon(0 0, 10% 0, 10% 100%, 0 100%);
	animation-timing-function: ccubic-bezier(0.25, 0.1, 0.31, 1.03);
}
@keyframes clip{
	0% {clip-path: polygon(0 0, 10% 0, 10% 100%, 0 100%);}
	100% {clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);}
}

.banner__inner{
	position: relative;
	margin: auto;
	width: calc(100% - 120px);
}

.banner__title{
	position: relative;
	font-size: 64px;
	margin: 0;
	padding: 20px 0;
	font-weight: 500;
	text-transform: uppercase;
}
.banner__subtitle{
	opacity: 0.8;
	font-size: 42px;
	font-weight: 400;
	margin: 0;
}


/*contact*/

.icon{
	position: relative;
	display: flex;
	width: 32px;
	height: 32px;
	font-size: 24px;
	justify-content: center;
	align-items: center;
}
.icon--spacing{
	margin: 0 20px;
}

/*about*/

.avatar{
	position: relative;
	width: 200px;
	padding: 30px;
	margin-left: auto;
}


/*experience*/

.card{
	padding: 20px;
	font-size: 14px;
}
.card__title{
	font-size: 22px;
	font-weight: 600;
	padding:10px 0 30px;
	text-transform: capitalize;
}
.card__subtitle{
	align-items: baseline;
	display: flex;
	font-size: 14px;
}
.card__position{
	opacity: 0.9;
}
.card__time{
	padding-left: 10px;
	color: #90A4AE;
	font-size: 12px;
}
.card__thumbnail{
	position: relative;
	height: 256px;
	border-radius: 6px;
	overflow: hidden;
	margin-bottom: 20px;
}



/*thumbnail*/

.thumbnail{
	position: relative;
	height: 300px;
	max-height: 100%;
	width: 100%;
	background: #ECEFF1;
	overflow: hidden;
}
.thumbnail img {
	transition: transform .6s ease;
	height: 480px;
}
.thumbnail:hover img {
	transform:scale(1.5);
}
.thumbnail--large{
	height: 480px;
}


/*btn*/

.btn{
	position: relative;
	padding: 10px 40px;
	border-radius: 6px;
	border: 2px solid transparent;
	display: table;
	cursor: pointer;
	transition: 0.3s ease;
}
.btn--outline{
	border-color:inherit;
}
.btn--outline:hover{
	border-color: #03A9F4;
}

.text_input {
	position: relative;
    display: flex;
    height: 150px;
    justify-content: space-evenly;
    align-items: center;
}
.form{
	display: grid;
    position: relative;
    padding: 15px 15px;
    width: 15%;
}
.form input {
	width: 300px;
    height: 40px;
    border: none;
}
.form input:focus{
	text-decoration: none;
}
.line {
	width: 0px;
	height: 0px;
}

.form input:focus + .line{
    width: 300px;
	height: 2px;
    position: relative;
    content: "";
	border-bottom: solid;
	color: #2196F3;
	transition: width .2s ease, .2s ease;
}
.checkbox_div{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    left: 30%;
    padding: 10px 10px;
}
.checkbox_div input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.checkmark {
    position: absolute;
    left: -35px;
    height: 20px;
    width: 20px;
	background-color: #90A4AE;
}
.checkbox_div:hover input ~ .checkmark {
	background-color: #ccc;
}
.checkbox_div input:checked ~ .checkmark {
	background-color: #2196F3;
	clip-path: circle(75%);
	animation-name: circle;
	animation-duration: 0.5s;
}
  
@keyframes circle {
	0% {clip-path:circle(0%)}
	100% {clip-path:circle(75%)}
}

@media only screen and (max-width:800px){
	.row{
		display: block
	}
	.col--33{
		width: 100%;
	}
	.col--50{
		width:100%;
	}
	.col--40{
		width: 100%;
	}
	header{
		justify-content: center;
	}
	.banner__inner{
		width: 100%;
		justify-content: center;
		display: grid;
		align-items: center;
	}
	.text_input {
		display: grid;
		width: 100%;
	}
	.checkbox_div{
		width: 85%;
		height: 180px;
		left: 10%;
	}
}

@media only screen and (max-width:1050px){
	.col--50{
		width:100%;
	}
	.col--40{
		width: 100%;
	}
	.text_input {
		width: 100%;
	}
	.checkbox_div{
		width: 85%;
		height: 30%;
		left: 10%;
	}
	.form {
		padding: 0;
    	width: 40%;
	}
}